body {
    font-family: "Afacad", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(0, 234, 230) 70%, white 50%);
    padding-bottom: 20px;
}

.headOne {
    background-image: url("images/blank-profile-picture-973460_1280.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-width: calc(100px + 20vw);
    height: 400px;
    position: relative;
    margin: max(10px, 2vw);
    box-shadow: 1px 1px 2px 2px grey;
}

.headName {
    min-width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    font-size: 32px;
}

.headTwo {
    background-color: white;
    margin: max(10px, 2vw);
    padding: 2vw;
    padding-bottom: 0.5vw;
    padding-top: 0;
    border: 2px solid gray;
    border-radius: 3px;
    box-shadow: 5px 5px 5px teal;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-top: 1.25vw;
    padding-bottom: 0.25vw;
    gap: 20px;
}

.links a {
    min-height: 40px;
    min-width: 40px;
}

.bodyCont {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h2 {
    margin-bottom: 0;
}

.projectsGrid {
    display: grid;
    gap: 40px;
    margin: 5vw;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    place-items: center;
    min-width: 50vw;
    max-width: min(900px, 95vw);
}

.project {
    background-color: rgb(216, 251, 255);
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.projImg {
    max-width: 250px;
    max-height: 250px;
}

.projImg img {
    max-width: 250px;
    max-height: 250px;
}

.projText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projText * {
    margin: 0px;
}

.projLinks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top left, rgb(0, 234, 230) 70%, white 50%);
}

.footerOne {
    background-color: white;
    margin: max(10px, 2vw);
    padding: 2vw;
    padding-bottom: 0.5vw;
    padding-top: 0;
    border: 2px solid gray;
    border-radius: 3px;
    box-shadow: 5px 5px 5px teal;
}

.footTwo {
    background-image: url("images/blank-profile-picture-973460_1280.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-width: calc(100px + 20vw);
    height: 400px;
    position: relative;
    margin: max(10px, 2vw);
    box-shadow: 1px 1px 2px 2px grey;
}

@media screen and (max-width: 568px) {
    body {
        font-size: 16px;
    }
    
    header {
        flex-direction: column;
    }

    .headOne {
        margin-bottom: 0;
        height: calc(90vw - 50px);
        width: calc(90vw - 50px);
    }

    .headTwo {
        width: 96%;
        margin-bottom: 0;
        width: calc(90vw - 50px);
    }

    footer {
        flex-direction: column;
    }

    .footTwo {
        margin-bottom: 0;
        height: calc(90vw - 50px);
        width: calc(90vw - 50px);
    }

    .footerOne {
        width: 96%;
        margin-bottom: 0;
        width: calc(90vw - 50px);
    }
}

@media screen and (max-width: 800px) {  
    footer {
        flex-direction: column;
    }

    .footTwo {
        height: calc(60vw - 50px);
        width: calc(60vw - 50px);
    }

    .footerOne {
        width: 96%;
        margin-bottom: 0;
        width: calc(90vw - 50px);
    }
}
